@model User;
<div class="d-flex justify-content-between">
    <div >
        <h3>Register</h3>
        <form asp-action="ProcessRegister" asp-controller="User" method="post">
            <div class="form-group">
                <p><span asp-validation-for="FirstName"></span></p>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
            </div>
            <div class="form-group">
                <p><span asp-validation-for="LastName"></span></p>
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
            </div>
            <div class="form-group">
                <p><span asp-validation-for="Email"></span></p>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
            <div class="form-group">
                <p><span asp-validation-for="Password"></span></p>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>
            <div class="form-group">
                <p><span asp-validation-for="Confirm"></span></p>
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm" />
            </div>
            <button>Register</button>
        </form>
    </div>
    <div>
        <partial name="_Login" />
    </div>
</div>